body {
    font-family: 'Open Sans', sans-serif;
    margin: 60px 0 60px 0;
}

/* button default
---------------------------- */
.btn-default {
    color: #333;
    background-color: #f8f9fa;
    border-color: #ccc;
}

    .btn-default:focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c;
    }

    .btn-default:active,
    .btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

/* button-xs
---------------------------- */
.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

li.page-item a {
    font-size: 0.85rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
.wrapper .button{
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 1.5rem;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 9.5rem;
}
.wrapper .button .icon{
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 2.5rem;
  transition: all 0.3s ease-out;
}
.wrapper .button .icon i{
  font-size: 1rem;
  line-height: 2.5rem;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 1rem;
  font-weight: 500;
  line-height: 2.5rem;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper #facebook span{color: #2374E1;}
.wrapper #facebook:hover .icon{background: #2374E1;}

.wrapper #twitter span{color: #1DA1F2;}
.wrapper #twitter:hover .icon{background: #1DA1F2;}

.wrapper #instagram span{color: #E1306C;}
.wrapper #instagram:hover .icon{background: #E1306C;}

.wrapper #youtube span{color: #ff0000;}
.wrapper #youtube:hover .icon{background: #ff0000;}

a {
    color: rgb(2, 0, 0);
}

.content-box {
    border-radius: 8px;
    background-color: #fafafb;
    box-shadow: 1px 4px 8px rgba(0,0,0,.15);
    transition: all .3s ease-in-out;
    padding: 10px;
    padding-bottom: 0;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 430px;
}
.content-box .finbyz-icon {
    height: 100px;
    width: 100px;
    display: inline;
}

.blue-fade {
  font-size: 40px;
  font-weight: 100; 
  background: -webkit-linear-gradient(#1ba0d7, #002d3f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}