body {
    font-family: 'Open Sans', sans-serif;
    margin: 3.5rem 0 4.5rem 0;
}

/* Vai ser removido após o infinite scrolling
   estiver presente em todas as páginas */
li.page-item a {
    font-size: 0.85rem;
}

a {
    color: rgb(2, 0, 0);
}

.blue-fade {
    font-size: 40px;
    font-weight: 100;
    background: -webkit-linear-gradient(#1ba0d7, #002d3f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Instead of always use class="d-flex align-items-center justify-content-center",
   this simpler class simplifies the process of centering things both horizontally and vertically */
   .center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-hover {
    box-shadow: none;
    transition-property: transform, box-shadow;
    transition-duration: 0.2s;
}

.btn-hover:hover {
    transform: scale(1.1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}